@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-y: initial !important;
  font: initial !important;
}

button {
  outline: none;
  border-width: 0;
  font-weight: 700;
}

body {
  background-color: #1a1a1d;
  font-family: "Roboto", sans-serif !important;
  color: white !important;
}
